
body{
margin:0;
font-family:Arial;
background:#f4f6fb;
}

.container{
display:flex;
}

/* Sidebar */

.sidebar{
width:250px;
background:#1f3b63;
color:white;
height:100vh;
padding:20px;
}

.logo{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
cursor:pointer;
border-radius:5px;
}

.sidebar li:hover{
background:#2d5ea8;
}

.active{
background:#2d5ea8;
}


/* Main */

.main{
flex:1;
padding:30px;
}

/* Search bar */

.topbar{
display:flex;
justify-content:flex-end;
margin-bottom:20px;
}

.topbar input{
padding:8px;
width:200px;
}

.topbar button{
padding:8px 12px;
background:#2d5ea8;
color:white;
border:none;
cursor:pointer;
}


/* Cards */

.card{
display:flex;
background:white;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
overflow:hidden;
}

.card img{
width:250px;
height:150px;
object-fit:cover;
}

.card-info{
padding:15px;
}

.card-info button{
background:#2d5ea8;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
border-radius:5px;
}